# Dependencies
node_modules/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
